{
  "bridge": {
    "name": "<name of your choice>",
    "username": "01:02:03:04:05:06",
    "port": 51826,
    "pin": "123-45-678"
  },

    "description": "Homebridge",

    "accessories": [
    ],

    "platforms": [
        {
          "platform" : "websocket",
          "name" : "websocket",
          "port": 4050
        },
        {
          "platform": "HomeAssistant",
          "name": "HomeAssistant",
          "host": "http://<IP>:8123",
          "password": "<api password>",
          "supported_types": ["binary_sensor", "cover", "fan", "input_boolean", "light", "lock", "media_player", "scene", "sensor", "switch"]
        },
        {
          "platform": "mqtt",
          "name": "mqtt",
          "url": "mqtt://<IP>",
          "topic_prefix": "homebridge",
          "username": "<username>",
          "password": "<password>"
        }
    ]
}
